.content
    display: flex
    gap: 0 50px
    .table
        width: 815px
        span
            font-size: 15px
        h2
            font-size: 30px
        p
            font-size: 16px
            border-top: 1px solid #000
        table
            th,td
                border-top: none
                border-left: none
                border-right: none
                vertical-align: initial
        .btn
            text-align: center
            button
                background: #c83535
                color: #fff
                line-height: 60px
                padding: 0 90px
        .btn-list
            display: flex
            justify-content: space-between
            button
                color: #16316b
                border: 2px solid #16316b
                line-height: 77px
                padding: 0 40px
                border-radius: 50px
                &:hover
                    cursor: pointer
                    background: #16316b
                    color: #fff  
    .date
        width: 300px
        .btn          
            button
                width: 300px
                height: 50px
                background: #383838
                color: #fff
        .btn-list
            button
                width: 300px
                height: 50px
                border: 1px solid #16316b
                color: #16316b
        table
            td
                border-top: none
                border-left: none
                border-right: none
                border-bottom: 1px dotted #000
                    
        
