.contact
    background: #f6f6f6
    .contact__list
        display: flex
        justify-content: space-between
        .list-btn
            display: flex
            flex-direction: column
            button
                display: flex
                align-items: center
                width: 240px
                height: 56px
                border-radius: 50px
                &:first-child
                    background: #12cdb5
                &:nth-child(2)
                    background: #ff9393
                &:nth-child(3)
                    background: #ffd200
                div
                    width: 45px
                    height: 45px
                    background: #fff
                    border-radius: 100%
                    position: relative
                    img
                        position: absolute       
        .list-arrow
            display: flex
            flex-direction: column
        .email
            display: flex
            flex-direction: column