@media screen and (min-width: 800.04px)
.wrapper
    min-width: 1260px
    margin: 0 auto
.container
    width: 1197px
    margin: 0 auto
body
    font-family: 'Yu Gothic', sans-serif
@media screen and (max-width: 800.02px)
    .wrapper
        min-width: 800px
    .container
        width: 720px