.header
    top: 0
    right: 0
    left: 0
    position: fixed
    width: 100%
    height: 100px
    background: #fff
    display: flex
    justify-content: space-between
    align-items: center
    .logo
        padding-left: 32px
        margin-top: -8px
    .nav
        display: flex
        align-items: center        
        .email
            justify-content: center
            text-align: center
            width: 100px
            height: 100px
            background-color: #c83535
            img
                padding-top: 26px
            p
                padding-top: 14px
                font-size: 14px
                color: #fff
@media screen and (max-width: 800.02px)
    .header
        height: 120px
        .nav
            .email
                width: 120px
                height: 120px
                p
                    font-size: 20px
                img
                    width: 35%
                    padding-top: 30px
        .logo
            margin-top: -13px
            img
                width: 127%

