html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

a {
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: Regular;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

ol, ul {
  list-style: none;
}

table {
  width: 100%;
  margin-bottom: 1.5em;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,
table td {
  padding: 0.5em;
  border: 0.0625rem solid #000;
}

table th {
  font-weight: bold;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body * {
  max-height: 99999em;
  word-break: break-word;
}

a:hover {
  text-decoration: none;
}

img {
  display: inline-block;
  vertical-align: middle;
  height: auto;
}

input,
label,
select,
button {
  line-height: inherit;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  word-break: normal;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  -webkit-appearance: none;
  font: inherit;
}

button:focus {
  outline: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  display: none;
}

textarea {
  overflow: auto;
  white-space: pre-line;
  resize: none;
  line-height: 1.5;
}

.wrapper {
  min-width: 1260px;
  margin: 0 auto;
}

.container {
  width: 1197px;
  margin: 0 auto;
}

body {
  font-family: "Yu Gothic", sans-serif;
}

@media screen and (max-width: 800.02px) {
  .wrapper {
    min-width: 800px;
  }
  .container {
    width: 720px;
  }
}
.header {
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  padding-left: 32px;
  margin-top: -8px;
}
.header .nav {
  display: flex;
  align-items: center;
}
.header .nav .email {
  justify-content: center;
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: #c83535;
}
.header .nav .email img {
  padding-top: 26px;
}
.header .nav .email p {
  padding-top: 14px;
  font-size: 14px;
  color: #fff;
}

@media screen and (max-width: 800.02px) {
  .header {
    height: 120px;
  }
  .header .nav .email {
    width: 120px;
    height: 120px;
  }
  .header .nav .email p {
    font-size: 20px;
  }
  .header .nav .email img {
    width: 35%;
    padding-top: 30px;
  }
  .header .logo {
    margin-top: -13px;
  }
  .header .logo img {
    width: 127%;
  }
}
.menu {
  display: flex;
  gap: 0 62px;
  padding-right: 62px;
}
.menu .menu-item {
  text-align: center;
}
.menu .menu-item p {
  font-size: 12px;
}
.menu .menu-item strong {
  font-size: 20px;
}
.menu .menu-item:nth-child(4) {
  margin-top: 14px;
}
.menu .menu-item:nth-child(5) {
  margin-top: 14px;
}

.menu__toggle {
  margin-top: -34px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100px;
  height: 130px;
  background-color: #16316b;
}
.menu__toggle p {
  font-size: 14px;
  color: #fff;
}
.menu__toggle span {
  width: 30px;
  height: 3px;
  background-color: #fff;
  transform: translateY(16px);
}
.menu__toggle p {
  transform: translateY(37px);
}

.menu__toggle::before {
  z-index: 3;
  content: "";
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  transform: translateY(-4px);
  transition: all 0.2s linear;
}

.menu__toggle::after {
  z-index: 3;
  content: "";
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  transform: translateY(14px);
  transition: all 0.2s linear;
}

@media screen and (max-width: 1450.02px) {
  .menu {
    gap: 0 30px;
    padding-right: 30px;
  }
}
@media only screen and (max-width: 800.02px) {
  .menu {
    display: none;
    visibility: visible;
    opacity: 1;
    z-index: 2;
    overflow-y: scroll;
    top: 0;
    padding-top: 100px;
    background: #fff;
    left: 0;
    padding-left: 70px;
    padding-right: 70px;
    width: 100%;
    height: 100vh;
    position: fixed;
    flex-direction: column;
    line-height: 3;
  }
  .menu .menu-item {
    font-weight: 600;
    padding: 0 70px;
    border-bottom: 1px solid #ccc;
  }
  .menu .menu-item a {
    font-size: 30px;
    display: flex;
  }
  .menu .menu-item a p {
    font-size: 30px;
  }
  .menu .menu-item a strong {
    font-size: 30px;
  }
  .menu .menu-item:nth-child(4) {
    margin-top: 0;
  }
  .menu .menu-item:nth-child(5) {
    margin-top: 0;
  }
  .menu.show {
    display: flex;
  }
  .menu__toggle {
    width: 120px;
    height: 153px;
  }
  .menu__toggle p {
    padding-top: 10px;
    font-size: 20px;
    transform: translateY(39px);
  }
  .menu__toggle span {
    width: 35px;
    transform: translateY(23px);
  }
  .menu__toggle::before {
    width: 35px;
    transform: translateY(-9px);
  }
  .menu__toggle::after {
    width: 35px;
    transform: translateY(13px);
  }
  .menu__toggle.open::before {
    transform: rotate(45deg);
    transition: all 0.2s linear;
    background: #000;
  }
  .menu__toggle.open::after {
    transform: rotate(-45deg);
    transition: all 0.2s linear;
    background: #000;
  }
  .menu__toggle.open > span {
    display: none;
  }
}
.banner {
  margin-top: 100px;
  text-align: center;
  background: url(../../src/img/banner/bg.png) no-repeat center;
  background-size: cover;
}
.banner p {
  font-size: 35px;
  color: #fff;
  line-height: 200px;
}

@media screen and (max-width: 800.02px) {
  .banner p {
    font-size: 40px;
  }
}
.note p {
  font-size: 12px;
  padding-top: 24px;
}
.note p span {
  text-decoration: underline;
}

@media screen and (max-width: 800.02px) {
  .note p {
    font-size: 20px;
    padding-left: 11px;
    padding-top: 37px;
  }
}
.content {
  display: flex;
  gap: 0 97px;
}
.content .table {
  padding-top: 98px;
}
.content .table span {
  font-size: 15px;
}
.content .table h2 {
  padding-top: 8px;
  font-size: 30px;
  padding-bottom: 24px;
}
.content .table p {
  letter-spacing: 0.2px;
  line-height: 1.9;
  padding-top: 52px;
  font-size: 16px;
  border-top: 1px solid #000;
}
.content .table table {
  margin-top: 70px;
}
.content .table table tr {
  line-height: 2.7;
}
.content .table table tr th, .content .table table tr td {
  border-top: none;
  border-left: none;
  border-right: none;
  vertical-align: initial;
}
.content .table table tr th li, .content .table table tr td li {
  line-height: 1.9;
}
.content .table table tr th {
  padding-left: 28px;
}
.content .table table tr td {
  padding-left: 40px;
}
.content .table table tr:nth-child(4) {
  line-height: 3;
}
.content .table table tr:last-child td {
  padding-bottom: 16px;
  letter-spacing: 0.8px;
}
.content .table table tr:last-child td:last-child {
  line-height: 1.9;
}
.content .table .btn {
  text-align: center;
  padding-top: 37px;
  margin-left: 2px;
}
.content .table .btn button {
  background: #c83535;
  color: #fff;
  line-height: 60px;
  padding: 0 94px;
  letter-spacing: 2px;
}
.content .table .btn-list {
  display: flex;
  justify-content: space-between;
  padding-top: 148px;
}
.content .table .btn-list button {
  font-size: 20px;
  color: #16316b;
  border: 2px solid #16316b;
  line-height: 77px;
  padding-left: 24px;
  padding-right: 64px;
  border-radius: 50px;
}
.content .table .btn-list button:hover {
  cursor: pointer;
  background: #16316b;
  color: #fff;
}
.content .table .btn-list button img {
  padding-right: 22px;
}
.content .table .btn-list button:nth-child(2) {
  padding: 0 40px;
  margin: 0 auto;
}
.content .table .btn-list button:nth-child(3) {
  padding-right: 0;
  padding-left: 64px;
}
.content .table .btn-list button:nth-child(3) img {
  padding-left: 22px;
}
.content .date {
  padding-top: 160px;
}
.content .date .btn button {
  font-size: 20px;
  width: 300px;
  height: 50px;
  background: #383838;
  color: #fff;
}
.content .date .btn-list {
  padding-top: 16px;
}
.content .date .btn-list button {
  margin-bottom: 12px;
  width: 299px;
  height: 58px;
  border: 1px solid #16316b;
  color: #16316b;
}
.content .date table tr td {
  padding: 17px 0;
  line-height: 1.7;
  padding-left: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px dotted #000;
}
.content .date table tr td span {
  font-size: 14px;
}
.content .date table tr td p {
  font-size: 18px;
}

@media only screen and (max-width: 800.02px) {
  .content .table {
    padding-top: 86px;
  }
  .content .table span {
    font-size: 24px;
    padding-left: 11px;
  }
  .content .table h2 {
    padding-top: 16px;
    padding-left: 6px;
    letter-spacing: 2px;
    font-size: 40px;
  }
  .content .table p {
    padding-right: 11px;
    padding-left: 11px;
    font-size: 28px;
    line-height: 1.86;
  }
  .content .table table {
    margin-top: 102px;
    font-size: 28px;
  }
  .content .table table tr {
    display: flex;
    flex-direction: column;
  }
  .content .table table tr th {
    padding-top: 10px;
    border-bottom: none;
  }
  .content .table table tr td {
    padding-left: 30px;
    margin-top: -40px;
  }
  .content .table table tr:nth-child(3) td {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 42px;
  }
  .content .table table tr:nth-child(3) td li {
    line-height: 1.8;
  }
  .content .table table tr:nth-child(4) td {
    margin-top: -33px;
    line-height: 1.8;
    padding-bottom: 41px;
  }
  .content .table table tr:nth-child(6) td {
    margin-top: -47px;
  }
  .content .table table tr:last-child td {
    margin-top: -31px;
    letter-spacing: 0.3px;
    padding-bottom: 36px;
  }
  .content .table table tr:last-child td:last-child {
    line-height: 1.8;
  }
  .content .table .btn button {
    font-size: 30px;
    width: 640px;
    height: 100px;
  }
  .content .table .btn-list {
    flex-wrap: wrap;
    padding: 116px 10px 0;
  }
  .content .table .btn-list button {
    font-size: 24px;
  }
  .content .table .btn-list button:first-child {
    width: 345px;
  }
  .content .table .btn-list button:first-child img {
    width: 26%;
    padding-right: 49px;
    margin-left: -27px;
  }
  .content .table .btn-list button:last-child {
    width: 345px;
    position: relative;
    top: -183px;
    right: -355px;
  }
  .content .table .btn-list button:last-child img {
    width: 33%;
    padding-left: 55px;
    margin-right: -33px;
  }
  .content .table .btn-list button:nth-child(2) {
    margin-top: 21px;
    width: 700px;
  }
  .content .date {
    display: none;
  }
}
.contact {
  background: #f6f6f6;
  margin-top: 81px;
}
.contact .contact__list {
  padding-top: 78px;
  padding-bottom: 72px;
  display: flex;
  gap: 0 100px;
}
.contact .contact__list .list-btn {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}
.contact .contact__list .list-btn button {
  gap: 0 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  width: 240px;
  height: 56px;
  border-radius: 50px;
}
.contact .contact__list .list-btn button:first-child {
  background: #12cdb5;
}
.contact .contact__list .list-btn button:nth-child(2) {
  background: #ff9393;
}
.contact .contact__list .list-btn button:nth-child(3) {
  background: #ffd200;
}
.contact .contact__list .list-btn button div {
  overflow: hidden;
  margin-left: 5px;
  width: 45px;
  height: 45px;
  background: #fff;
  border-radius: 100%;
  position: relative;
}
.contact .contact__list .list-btn button div img {
  position: absolute;
}
.contact .contact__list .list-btn button:first-child img {
  left: 5px;
  top: 4px;
}
.contact .contact__list .list-btn button:nth-child(2) img {
  left: -1px;
  top: 7px;
}
.contact .contact__list .list-btn button:last-child img {
  left: -1px;
  top: 13px;
}
.contact .contact__list .list-arrow {
  padding-left: 11px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.contact .contact__list .list-arrow h3 {
  font-size: 18px;
  padding-bottom: 27px;
}
.contact .contact__list .list-arrow a {
  margin-left: 3px;
  font-size: 14px;
  padding-bottom: 18px;
}
.contact .contact__list .list-arrow a img {
  padding-right: 10px;
}
.contact .contact__list .list-content {
  margin-top: 10px;
  padding-left: 35px;
}
.contact .contact__list .list-content h3 {
  font-size: 18px;
  padding-bottom: 19px;
}
.contact .contact__list .email {
  display: flex;
  flex-direction: column;
  padding-left: 6px;
  position: relative;
}
.contact .contact__list .email button {
  color: #fff;
  font-size: 20px;
  width: 250px;
  height: 60px;
  background: #c83535;
}
.contact .contact__list .email button img {
  margin-left: -9px;
  padding-right: 17px;
}
.contact .contact__list .email a {
  position: absolute;
  bottom: 14px;
  right: 0;
}

@media only screen and (max-width: 800.02px) {
  .contact .contact__list {
    padding-top: 47px;
    padding-bottom: 131px;
  }
  .contact .contact__list .list-btn {
    display: none;
  }
  .contact .contact__list .list-arrow {
    display: none;
  }
  .contact .contact__list .list-content {
    display: none;
  }
  .contact .contact__list .email {
    padding-left: 10px;
  }
  .contact .contact__list .email button {
    font-size: 30px;
    width: 700px;
    height: 100px;
  }
  .contact .contact__list .email button img {
    width: 12%;
    margin-left: 0;
  }
  .contact .contact__list .email a {
    bottom: -100px;
    right: 344px;
  }
  .contact .contact__list .email a img {
    width: 170%;
  }
}
.paper {
  display: flex;
  justify-content: center;
  font-size: 12px;
  line-height: 3.7;
}

@media only screen and (max-width: 800.02px) {
  .paper {
    flex-direction: column;
    padding-top: 33px;
    font-size: 24px;
    line-height: normal;
    text-align: start;
    padding-left: 124px;
    line-height: 1.71;
    letter-spacing: 0.2px;
    padding-bottom: 28px;
  }
}
.footer {
  background: #383838;
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 3.3;
  padding-top: 5px;
}

@media only screen and (max-width: 800.02px) {
  .footer {
    font-size: 20px;
    padding-bottom: 9px;
    letter-spacing: 0.2px;
  }
}

/*# sourceMappingURL=top.css.map */
